$body-background-color: #363a3a;

$card-background-color: #3a3c3e;
$card-background-color-active: #3f4649;
$card-border: 1px solid #252a2c;
$card-button-background-color: #282b2d;
$card-button-background-color-active: #003759;
$card-button-color: #fff;
$card-title-color: #fff;
$card-shadow: -2px -2px 10px 5px rgba(0, 0, 0, .3);
$card-button-height: 23px;

$map-container-border: 2px solid #393d3d;
$map-container-border-radius: 3px;
