@import "../../public/styles/variables.scss";

.map-container {
  width: 100%;
  max-width: 505px;
  height: 470px;
  border: $map-container-border;
  border-radius: $map-container-border-radius;
  overflow: hidden;
}
